{% extends "flights/layout.html" %}

{% block body %}
    <h1 class="mb-3">Flights</h1>
    <ul class="list-group">
        {% for flight in flights %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <a href="{% url 'flight' flight.id %}">
                    Flight {{flight.id}}: {{ flight.origin}} to {{ flight.destination }}
                </a>
                <a class="btn btn-sm btn-outline-primary" href="/flight/{{ flight.id }}/checkin">Check-in</a>
            </li>
        {% empty %}
            <li class="list-group-item">No flights.</li>
        {% endfor %}    
    </ul>
{% endblock %}


